.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  font-family: "Space Grotesk", sans-serif;
}

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #0077b5 transparent #0077b5 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
  color: #000;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

label {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #000;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

input[type="text"] {
  font-size: 1.5rem;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.2),
    inset -3px -3px 3px rgba(255, 255, 255, 0.5);
  color: #000;
  width: 100%;
  margin-bottom: 2rem;
}

button[type="submit"] {
  font-size: 1.5rem;
  padding: 0.8rem;
  border: none;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2),
    -10px -10px 30px rgba(255, 255, 255, 0.5);
  color: #000;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button[type="submit"]:hover {
  transform: translateY(-2px);
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.2),
    -8px -8px 20px rgba(255, 255, 255, 0.5);
}

select {
  font-size: 1rem;
  padding: 0.6rem;
  border: none;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2),
    -10px -10px 30px rgba(255, 255, 255, 0.5);
  color: #000;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

select:hover,
select:focus {
  border-color: #aaa;
}

select option {
  font-size: 1rem;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  background-color: #ffffff;
  list-style: none;
  box-shadow: 10px 10px 20px #b3b3b3, -10px -10px 20px #ffffff;
  margin: 1rem;
  padding: 1rem;
  border-radius: 20px;
  width: 20rem;
  text-align: center;
}
a {
  color: #0077b5;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: #004471;
}
